a.navbar-brand{
background-color: #006030;
    width: 4rem;
    padding-left: 0.68rem;
    border-bottom-left-radius: 15px;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1.fw-bolder.mb-3{
    width: 200%;
    padding-right: 550px;
	color: #FCFCFC;
}
p.1{
	font-size: 2rem;
}
p.2{
	font-size: 2rem;
	margin-top: 3rem;
}
p.3{
	font-size: 1.5rem;
}
img.1{
	width: 50%;
}
img.2{
	width: 28%;
	position: relative;
	left: 50px;
	border:20px;
}
img.3{
	width: 40%;
	position: relative;
	right: 40px;
}
img.4{
	width: 58%;
	position: relative;
	right: 100px;
	top:150px;
}