a.navbar-brand{
background-color: #006030;
    width: 4rem;
    padding-left: 0.68rem;
    border-bottom-left-radius: 15px;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1.fw-bolder.mb-3{
    width: 200%;
    padding-right: 550px;
	color: #FCFCFC;
}
p.1{
	font-size: 2rem;
	width: 160px;
    border-bottom: dashed;
    border-block-color: #fff;
}
p.2{
	font-size: 2rem;
	margin-top: 3rem;
}
p.3{
	font-size: 1.5rem;
}
img.1{
	width: 65%;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    position: relative;
    left: 111px;
}
img.2{
	width: 22%;
    position: relative;
    left: 2px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    top: 154px;
}
img.3{
	width: 41%;
    position: relative;
    right: -78px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    top: -5px;
}
img.4{
	width: 58%;
    position: relative;
    right: -26px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    top: 154px;
}
img.5{
	width: 66%;
    position: relative;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    left: 74px;
}
img.6{
	width: 23%;
    position: relative;
    right: -8px;
    top: 150px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.7{
	width: 85%;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    position: relative;
    left: 85px;
}
img.8{
	width: 42%;
    position: relative;
    left: 250px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.9{
	width: 58%;
    position: relative;
    left: 180px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.10{
	width: 65%;
    position: relative;
    left: 90px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.11{
	width: 20%;
    position: relative;
    left: 50px;
    top: 150px;
}
img.12{
	width: 70%;
    position: relative;
    right: 10px;
    top: 250px;
    height: 600px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.13{
	width: 30%;
    position: relative;
    left: 625px;
    bottom: 396px;
    height: 264px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.14{
	width: 30%;
    position: relative;
    left: 350px;
    bottom: 110px;
}
img.15{
	position: relative;
    top: 100px;
}
img.16{
	position: relative;
    left: 450px;
}
img.17{
	width: 66%;
    position: relative;
    top: 118px;
    height: 395px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.18{
	width: 450px;
    position: relative;
    left: 482px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.19{
	width: 70%;
    position: relative;
    left: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.20{
	position: relative;
    width: 70%;
    top: 100px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.21{
	width: 50%;
    position: relative;
    left: 500px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.22{
	width: 42%;
    position: relative;
    top: 0px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    left: 86px;
}
img.23{
	width: 50%;
    position: relative;
    left: 20px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    top: 234px;
}
img.24{
	width: 80%;
    position: relative;
    left: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.25{
	position: relative;
    top: 80px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.26{
	width: 40%;
    position: relative;
    left: 550px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.27{
	width: 55%;
    position: relative;
    left: 50px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.28{
	width: 35%;
    position: relative;
    top: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.29{
	position: relative;
    left: 190px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.30{
	width: 20%;
    position: relative;
    top: 150px;
    left: 150px;
}
img.31{
	width: 70%;
    position: relative;
    top: 150px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    left: 66px;
}
img.32{
	width: 30%;
    position: relative;
    left: 604px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.33{
	width: 55%;
    position: relative;
    left: 100px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.34{
	width: 65%;
    position: relative;
    top: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.35{
	width: 35%;
    position: relative;
    left: 550px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.36{
	width: 45%;
    position: relative;
    top: 145px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.37{
	width: 45%;
    position: relative;
    top: 145px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.38{
	width: 30%;
    position: relative;
    left: 650px;
    top: 80px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.39{
	width: 25%;
    position: relative;
    top: 180px;
    z-index: 1;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.40{
	width: 40%;
    position: relative;
    right: 20px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.41{
	width: 48%;
    position: relative;
    left: 344px;
    top: 50px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.42{
	width: 24%;
    position: relative;
    left: 300px;
    top: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.43{
	width: 60%;
    position: relative;
    top: 150px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.44{
	width: 50%;
    position: relative;
    left: 487px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.45{
	width: 65%;
    position: relative;
    left: 105px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.46{
	width: 27%;
    position: relative;
    left: 54px;
    top: 160px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.47{
	width: 49%;
    position: relative;
    top: 53px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.48{
	position: relative;
    width: 49%;
    top: 53px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.49{
	width: 50%;
    position: relative;
    left: 237px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
    top: 66px;
}
img.50{
	width: 65%;
    z-index: 1;
    position: relative;
    left: 52px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.51{
	width: 29%;
    position: relative;
    top: 23px;
    left: 102px;
}
img.52{
	width: 63%;
    position: relative;
    top: 99px;
}
img.53{
	width: 37%;
    position: relative;
    left: 497px;
}
img.54{
	width: 32%;
    position: relative;
    left: 53px;
    top: 155px;
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.55{
	width: 65%;
    position: relative;
    top: 115px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.56{
	width: 43%;
    position: relative;
    left: 521px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.57{
	width: 37%;
    position: relative;
    left: 561px;
    top: 286px;
    z-index: 1;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.58{
	width: 65%;
    position: relative;
    left: 100px;
    bottom: 185px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.59{
	width: 60%;
    position: relative;
    left: 206px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.60{
	width: 23%;
    position: relative;
    right: 460px;
    top: 99px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.61{
	width: 52%;
    position: relative;
    left: 328px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.62{
	width: 52%;
    position: relative;
    bottom: 53px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.63{
	width: 52%;
    position: relative;
    left: 145px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.64{
	width: 40%;
    position: relative;
    left: 87px;
    top: 80px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.65{
	width: 60%;
    position: relative;
    top: 95px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.66{
	width: 55%;
    position: relative;
    left: 402px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.67{
	width: 65%;
    position: relative;
    top: 75px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.68{
	width: 53%;
    position: relative;
    left: 405px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.69{
	width: 55%;
    position: relative;
    top: 80px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.70{
	width: 55%;
    position: relative;
    left: 415px;
    top: 35px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.71{
	border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.72{
	width: 65%;
    position: relative;
    top: 66px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.73{
	width: 53%;
    position: relative;
    left: 435px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.74{
	width: 67%;
    position: relative;
    top: 200px;
    left: 46px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.75{
	width: 34%;
    position: relative;
    left: 593px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.76{
	width: 60%;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.77{
	width: 60%;
    position: relative;
    left: 439px;
    bottom: 52px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.78{
	width: 24%;
    position: relative;
    right: 266px;
    top: 138px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.79{
	width: 60%;
    position: relative;
    top: 246px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.80{
	width: 60%;
    position: relative;
    left: 400px;
    top: 213px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.81{
	width: 60%;
    position: relative;
    top: 187px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.82{
	width: 60%;
    position: relative;
    left: 400px;
    top: 154px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.83{
	width: 60%;
    position: relative;
    top: 128px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.84{
	width: 60%;
    position: relative;
    left: 400px;
    top: 60px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.85{
	width: 60%;
    position: relative;
    top: 36px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
img.86{
	width: 60%;
    position: relative;
    left: 400px;
    border: solid;
    border-width: 0.5rem;
    border-color: whitesmoke;
}
