a.navbar-brand{
background-color: #006030;
    width: 4rem;
    padding-left: 0.68rem;
    border-bottom-left-radius: 15px;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1.fw-bolder.mb-3{
    width: 200%;
    padding-right: 550px;
	color: #FCFCFC;
}
p.1{
	font-size: 2rem;
}
p.2{
	font-size: 2rem;
	margin-top: 3rem;
}
p.3{
	font-size: 1.5rem;
}
img.1{
	width: 50%;
}
img.2{
	width: 28%;
	position: relative;
	left: 50px;
	border:20px;
}
img.3{
	width: 40%;
	position: relative;
	right: 40px;
}
img.4{
	width: 58%;
	position: relative;
	right: 100px;
	top:150px;
}
img.5{
	width: 60%;
    position: relative;
}
img.6{
	width: 25%;
    position: relative;
    right: 50px;
    top: 150px;
}
img.7{
	width: 85%;
}
img.8{
	width: 40%;
    position: relative;
    left: 250px;
}
img.9{
	width: 58%;
    position: relative;
    left: 180px;
}
img.10{
	width: 65%;
    position: relative;
    left: 90px;
}
img.11{
	width: 20%;
    position: relative;
    left: 50px;
    top: 150px;
}
img.12{
	width: 70%;
    position: relative;
    right: 10px;
    top: 250px;
    height: 600px;
}
img.13{
	width: 30%;
    position: relative;
    left: 625px;
    bottom: 400px;
    height: 264px;
}
img.14{
	width: 30%;
    position: relative;
    left: 350px;
    bottom: 110px;
}
img.15{
	position: relative;
    top: 100px;
}
img.16{
	position: relative;
    left: 450px;
}
img.17{
	width: 70%;
    position: relative;
    top: 50px;
}
img.18{
	width: 450px;
    position: relative;
    left: 550px;
}
img.19{
	width: 70%;
    position: relative;
    left: 150px;
}
img.20{
	position: relative;
    width: 70%;
    top: 100px;
}
img.21{
	width: 50%;
    position: relative;
    left: 500px;
}
img.22{
	width: 45%;
    position: relative;
    top: 100px;
}
img.23{
	width: 60%;
    position: relative;
    left: 350px;
}
img.24{
	width: 80%;
    position: relative;
    left: 150px;
}
img.25{
	position: relative;
    top: 80px;
}
img.26{
	width: 40%;
    position: relative;
    left: 550px;
}
img.27{
	width: 55%;
    position: relative;
    left: 50px;
}
img.28{
	width: 35%;
    position: relative;
    top: 150px;
}
img.29{
	position: relative;
    left: 190px;
}
img.30{
	width: 20%;
    position: relative;
    top: 150px;
    left: 150px;
}
img.31{
	width: 70%;
    position: relative;
    top: 150px;
}
img.32{
	width: 30%;
    position: relative;
    left: 600px;
}
img.33{
	position: relative;
    left: 150px;
}
img.34{
	width: 65%;
    position: relative;
    top: 150px;
}
img.35{
	width: 35%;
    position: relative;
    left: 550px;
}
img.36{
	width: 45%;
    position: relative;
    top: 145px;
}
img.37{
	width: 45%;
    position: relative;
    top: 145px;
}
img.38{
	width: 30%;
    position: relative;
    left: 650px;
    top: 80px;
}
img.39{
	width: 25%;
    position: relative;
    top: 180px;
    z-index: 1;
}
img.40{
	width: 40%;
    position: relative;
    right: 20px;
}
img.41{
	width: 48%;
    position: relative;
    left: 344px;
    top: 50px;
}
img.42{
	width: 24%;
    position: relative;
    left: 300px;
    top: 150px;
}
img.43{
	width: 60%;
    position: relative;
    top: 150px;
}
img.44{
	width: 50%;
    position: relative;
    left: 487px;
}
img.45{
	width: 65%;
    position: relative;
    left: 105px;
}
img.46{
	width: 27%;
    position: relative;
    left: 54px;
    top: 160px;
}
img.47{
	width: 50%;
    position: relative;
    top: 53px;
}
img.48{
	position: relative;
    width: 49%;
    top: 53px;
}
img.49{
	width: 45%;
    position: relative;
    left: 585px;
}
img.50{
	width: 65%;
    z-index: 1;
    position: relative;
    left: 52px;
}
img.51{
	width: 29%;
    position: relative;
    top: 23px;
    left: 102px;
}
img.52{
	width: 63%;
    position: relative;
    top: 99px;
}
img.53{
	width: 37%;
    position: relative;
    left: 497px;
}